<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SFS.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SFS.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="SFS.My.MySettings.SFSConnectionString" connectionString="Data Source=sfssql1.admin.washington.edu;Initial Catalog=SFS;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="SFS.My.MySettings.SFSConnectionString1" connectionString="Dsn=SFS;description=SFS;uid=phamlin;app=Microsoft® Visual Studio® 2005;wsid=JGN7Z61_SFS;database=SFS;trusted_connection=Yes" providerName="System.Data.Odbc"/>
        <add name="SFS.My.MySettings.ConnectionString" connectionString="Dsn=Visual FoxPro Tables;sourcedb=i:\GROUPS\SFS\DBASES\SCHOL;sourcetype=DBF;exclusive=No;backgroundfetch=No;collate=Machine" providerName="System.Data.Odbc"/>
        <add name="SFS.My.MySettings.ConnectionString1" connectionString="Provider=VFPOLEDB.1;Data Source=I:\groups\sfs\dbases\schol\student.dbf" providerName="System.Data.OleDb"/>
        <add name="SFS.My.MySettings.ConnectionString2" connectionString="Provider=VFPOLEDB.1;Data Source=I:\groups\sfs\dbases\schol" providerName="System.Data.OleDb"/>
        <add name="SFS.My.MySettings.ReportingServices" connectionString="Data Source=sfssql1.admin.washington.edu;Initial Catalog=ReportServer;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <applicationSettings>
        <SFS.My.MySettings>
            <setting name="SFS_TerraServiceWS_TerraService" serializeAs="String">
                <value>http://terraserver-usa.com/TerraService2.asmx</value>
            </setting>
        </SFS.My.MySettings>
    </applicationSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup><userSettings>
        <SFS.My.MySettings>
            <setting name="SFS_TECH_U" serializeAs="String">
                <value>netid\sfstech</value>
            </setting>
            <setting name="SFS_TECH_P" serializeAs="String">
                <value>email4SFS</value>
            </setting>
        </SFS.My.MySettings>
    </userSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Vbe.Interop" publicKeyToken="71E9BCE111E9429C" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="office" publicKeyToken="71E9BCE111E9429C" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
